body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background {
    position: absolute;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -3vw;
    left: 0;
    z-index: 2;
}

#preloader {
    background: #000 url(images/preloader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: none;
}

.gif {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    z-index: 10;
    position: absolute;
}

.gif1 {
    top: 58vw;
    left: 10px;
}

.gif2 {
    top:58vw;
    left: 120px;
}

.gif-tree {
    position: absolute;
    left: 61.2vw;
    top: -2.2vw;
    width: 40vw;
    z-index: 200;
}

.navigator{
    z-index: 500;
    position: absolute;
    top: 0vw;
    left: 0vw;
}