body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.sheep {
    position: absolute;
    display: none;
    cursor: pointer;
}

.sheep img {
    width: 9vw;
    height: auto;
}


.initial-video {
    width: 20vw;
    align-items: center;
}

.container-sheep {
    text-align: center;
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh; 
    background: url('images/fundo-escuro.jpg') no-repeat center center;
    background-size: cover; 
    transition: 4s ease; 
}


.container-sheep.faded {
    background: url('images/campo.jpg') no-repeat center center;
    background-size: cover;
}