body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-image: url("images/fundo-escuro.PNG");
}

.sheep {
    position: absolute;
    cursor: pointer;
    transform: scale(0.1);
    z-index: 3;
}

.initial-video {
    width: 90vw;
    height: auto;
    align-items: center;
    position: absolute;
    top: 5vw;
}

.i_sheep.animate-sheep {
    animation: ani-sheep1 2s infinite alternate; 
}

@keyframes ani-sheep1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20vw);
    }
    100%{
        transform:translateY(-20vw);
    }
}


.container-sheep {
    text-align: center;
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh; 
    transition: 4s ease; 
    z-index: 2;
}

.pc_alberto {
    width: 20vw;
    height: 40vw; 
    background-color: blue;
    position: absolute;
}

.place_alberto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 2vw; 
    opacity: 0%;
}

.background{
    width: 100vw;
    height: auto;
    z-index: 1;
}

.video1{
    width: 100vw;
    height: auto;
}

.video{
    z-index: 4;
}

.navigator{
    z-index: 5;
}

#preloader{
    background: #000 url(images/preloader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }