body {
  font-family: 'Rammetto One', sans-serif;
  overflow: hidden;
  height: 100%;
  margin: 0;
  background-color: yellow;
}

.hidden {
  display: none;
}

.nao{
  font-size: 8.8vw;
  line-height: 1vw;
  left: 0vw;
  position: absolute;
  top: 19.8vw;
}
.sei{
  font-size: 8.8vw;
  line-height: 1vw;
  left: 27.5vw;
  position: absolute;
  top: 19.8vw;
}
.quantas{
  font-size: 8.8vw;
  line-height: 1vw;
  left: 45.7vw;
  position: absolute;
  top: 19.8vw;
}

.almas{
  font-size: 21.2vw;
  line-height: 1vw;
  left: 0vw;
  position: absolute;
  top: 32.6vw;
  letter-spacing: 1vw;
}

.tenho{
  font-size: 22.8vw;
  line-height: 1vw;
  left: 0vw;
  position: absolute;
  letter-spacing: 1vw;
  top: 50vw;
}

.fernando{
  font-size: 8.2vw;
  position: absolute;
  top: 7.4vw;
  color: #292929;
}
.pessoa{
  font-size: 8.2vw;
  position: absolute;
  left: 59vw;
  top: 7.4vw;
  color: #292929;
}


.texto2{
  display: none;
}

.texto3{
  display: none;
}

.texto4{
  display: none;
}

.head {
  transition: transform 0.3s ease;
}

@keyframes drop {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  20% {
    transform: translateY(0px);
    opacity: 1;
  }
  40% {
    transform: translateY(-30px);
    opacity: 1;
  }
  60% {
    transform: translateY(0px);
    opacity: 1;
  }
  80% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.nao-sei {
  animation: drop 0.9s linear forwards;
  color: #ffffff;
  -webkit-text-stroke: 2px #0e2431;

}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: -7vw;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: -7vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 100% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 100% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  height: 100vh;
  width: 100%;
  transform: translateX(150%);
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.row-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2vw;

}

.img_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top:10vw;
}

.img_fernando .body,
.img_fernando .head  {
  width: 20vw;
}

.img_ricardo .body,
.img_ricardo .head{
  width: 18vw;
}

.img_alberto .body,
.img_alberto .head {
  width: 22.5vw;
}

.img_alvaro .body,
.img_alvaro .head{
  width: 20vw;
}
.img_fernando .head-container,
.img_alberto .head-container,
.img_alvaro .head-container,
.img_ricardo .head-container {
  position: absolute;
  top: 0.5vw;
}



.img_alvaro .monoculo {
  position: absolute;
  width: 20vw;
  top: 0;
  left: 0;
}

.img_fernando .eye{
  position: absolute;
  width: 5vw;
}

.img_alberto .eye{
  position: absolute;
  width: 4vw;
}
.img_alvaro .eye,
.img_ricardo .eye {
  position: absolute;
  width: 3.5vw;
}


